{% extends 'admin/base.html.twig' %}

{% block mainadmin %}
<h2>Editing category</h2>
{% include 'admin/_category_form.html.twig' with { 'form': form, 'category': category, 'submit_text': 'Save' } %}
{% endblock %}