{% extends 'base.html.twig' %}

{% block main %}
<div class="row mt-5">
    {{ include('subscription/_cart.html.twig', {'plan_name': app.session.get('planName'), 'plan_price': app.session.get('planPrice')}) }}

    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Register first (free)</h4>
        {% include 'front/_user_form.html.twig' with { 'form': form } %}
    </div>
</div>
{% endblock %}

{% block customjavascripts %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('click', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();


    var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}